<div id="rs-banner" class="rs-banner style10">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 pl-60 order-last">
                            <div class="img-part">
                               <img class="up-down-new" src="assets/images/banner/home12/1.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 pr-0">
                            <div class="banner-content">
                               <div class="sl-sub-title wow bounceInLeft" data-wow-delay="300ms" data-wow-duration="2000ms">Digital Online Training & Education</div>
                                <h1 class="sl-title wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="3000ms">We Proudly Teaching Online Courses With Online Experts.
                                </h1>
                                <div class="banner-btn wow fadeInUp" data-wow-delay="1500ms" data-wow-duration="2000ms">
                                    <a class="readon green-banner" href="#">Get Started</a>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="banner-intro-box">
                    <div class="shape-img">
                        <img class="up-down-new" src="assets/images/banner/home12/dotted-shape.png" alt="">
                    </div>
                    <div class="intro-img">
                        <img class="spine2" src="assets/images/banner/home12/intro-box.png" alt="">
                    </div>
                </div>
            </div>