<div class="why-choose-us style3">
                <div class="container">
                   <div class="row align-items-center">
                       <div class="col-lg-6 js-tilt md-mb-40">
                           <div class="img-part">
                                <img src="assets/images/choose/home12/1.png" alt="">
                            
                           </div>
                       </div>
                       <div class="col-lg-6 pl-60 md-pl-15">
                            <div class="sec-title3 mb-30">
                                <h2 class=" title new-title margin-0 pb-15">Why Learn Here</h2>
                                <div class="new-desc">C2C Education provides students interested in IT certifications a guided learning experience to help them reach their goals and improve their lives</div>
                            </div>
                            <div class="services-part mb-20">
                                <div class="services-icon">
                                    <img src="assets/images/choose/home12/icon/1.png" alt="">
                                </div>
                                <div class="services-text">
                                    <h2 class="title"> Lower Learning Cost</h2>
                                    <p class="services-txt"> C2C Offers plenty of valuable courses at farily good prices</p>
                                </div>
                            </div> 
                            <div class="services-part mb-20">
                                <div class="services-icon">
                                    <img src="assets/images/choose/home12/icon/2.png" alt="">
                                </div>
                                <div class="services-text">
                                    <h2 class="title"> Learn With Experts</h2>
                                    <p class="services-txt">We offer skills-based courses taught by experts in their field </p>
                                </div>
                            </div> 
                            <div class="services-part">
                                <div class="services-icon">
                                    <img src="assets/images/choose/home12/icon/3.png" alt="">
                                </div>
                                <div class="services-text">
                                    <h2 class="title">Different Course Variation</h2>
                                    <p class="services-txt"> We provide different type of courses that cover an extremely wide range of topics </p>
                                </div>
                            </div>
                       </div> 
                   </div> 
                </div>
            </div>