<div class="rs-download-app pt-100 pb-100 md-pt-70 md-pb-70">
                <div class="container">
                   <div class="row align-items-center">
                       <div class="col-lg-6 md-mb-40">
                           <div class="img-part">
                                <img src="assets/images/download/m-app.png" alt="">
                            
                           </div>
                       </div>
                       <div class="col-lg-6 pl-60 md-pl-15">
                            <div class="sec-title3 mb-30">
                                <div class="sub-title green-color">Download Mobile App</div>
                                <h2 class=" title new-title">Learn anything - Any Time - Any Where ; Mobile/Desktop</h2>
                                <div class="new-desc">Lorem ipsum dolor sit amet, ing elit, sed eius to mod tempors incididunt ut labore et dolore magna this aliqua sed eius to mod tempors incid idunt ut labore data management.</div>
                            </div>
                            <div class="mobile-img">
                                <div class="apps-image pr-20 sm-pr-5">
                                    <img src="assets/images/download/play.png" alt="">
                                </div>
                                <div class="apps-image">
                                    <img src="assets/images/download/apple.png" alt="">
                                </div>
                            </div>
                       </div> 
                   </div> 
                </div>
            </div>