<div class="rs-event home12style">
                <div class="container">
                    <div class="sec-title4 text-center mb-50">
                        <div class="sub-title">Join Events</div>
                        <h2 class="title purple-color">Upcoming Events</h2>
                    </div> 
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="7000" data-smart-speed="2000" data-dots="true" data-nav="false" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="true" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="3" data-md-device-nav="false" data-md-device-dots="true">
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/1.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>    
                                </div>
                               <h4 class="title"><a href="#">Educational Technology and Mobile Learning</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020 
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div> 
                        </div>
                    </div>
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/2.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>    
                                </div>
                               <h4 class="title"><a href="#">Best Technology  Graduation Ceremony.</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020 
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div> 
                        </div>
                    </div>
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/3.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>    
                                </div>
                               <h4 class="title"><a href="#">Educational Technology and Mobile Learning</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020 
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div> 
                        </div>
                    </div>
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/4.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>    
                                </div>
                               <h4 class="title"><a href="#">Educational Technology and Mobile Learning</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020 
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div> 
                        </div>
                    </div>
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/5.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>    
                                </div>
                               <h4 class="title"><a href="#">Best Technology  Graduation Ceremony.</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020 
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div> 
                        </div>
                    </div>
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/1.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>    
                                </div>
                               <h4 class="title"><a href="#">Educational Technology and Mobile Learning</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020 
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div> 
                        </div>
                    </div>
                    <div class="event-item home12-style">
                        <div class="event-short">
                           <div class="featured-img">
                               <img src="assets/images/event/home12/2.jpg" alt="Image">
                           </div>
                           <div class="content-part">
                                <div class="all-dates-time">
                                    <div class="address"><i class="fa fa-map-o"></i> New Margania</div>
                                    <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 AM - 03:00 AM</div>    
                                </div>
                               <h4 class="title"><a href="#">Educational Technology and Mobile Learning</a></h4>
                               <div class="event-btm">
                                   <div class="date-part">
                                       <div class="date">
                                           <i class="fa fa-calendar-check-o"></i>
                                           July 24, 2020 
                                       </div>
                                   </div>
                                   <div class="btn-part">
                                       <a href="#">Join Event</a>
                                   </div>
                               </div>
                           </div> 
                        </div>
                    </div>
                  </div>
                </div> 
            </div>