<div id="rs-blog" class="rs-blog main-home modify1 pb-100 pt-100 md-pt-70 md-pb-70">
    <div class="container">  
          <div class="sec-title4 text-center mb-50">
            <div class="sub-title"> News Update</div>
            <h2 class="title">Latest News & Article's</h2>
          </div> 
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
            <div class="blog-item">
                <div class="image-part">
                    <img src="assets/images/blog/style9/1.jpg" alt="">
                </div>
                <div class="blog-content">
                    <div class="blog-meta">
                        <span class="date"><i class="fa fa-calendar-check-o"></i> September 24, 2020</span>
                        <span class="admin"><i class="fa fa-user"></i> admin</span>
                    </div>
                    <h3 class="title"><a href="blog-single.html">How universities can nurture for the world climate crisis</a></h3>
                    <div class="btn-btm">
                        <div class="cat-list">
                            <ul class="post-categories">
                                <li><a href="#">College</a></li>
                            </ul>
                        </div>
                        <div class="rs-view-btn">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-part">
                    <img src="assets/images/blog/style9/2.jpg" alt="">
                </div>
                <div class="blog-content">
                    <div class="blog-meta">
                        <span class="date"><i class="fa fa-calendar-check-o"></i> September 24, 2020</span>
                        <span class="admin"><i class="fa fa-user"></i> admin</span>
                    </div>
                    <h3 class="title"><a href="blog-single.html">Oxford vaccine trial resumes in UK after being halted</a></h3>
                    <div class="btn-btm">
                        <div class="cat-list">
                            <ul class="post-categories">
                                <li><a href="#">College</a></li>
                            </ul>
                        </div>
                        <div class="rs-view-btn">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-part">
                    <img src="assets/images/blog/style9/3.jpg" alt="">
                </div>
                <div class="blog-content">
                    <div class="blog-meta">
                        <span class="date"><i class="fa fa-calendar-check-o"></i> September 24, 2020</span>
                        <span class="admin"><i class="fa fa-user"></i> admin</span>
                    </div>
                    <h3 class="title"><a href="blog-single.html">University class starting soon while the lovely valley team work </a></h3>
                    <div class="btn-btm">
                        <div class="cat-list">
                            <ul class="post-categories">
                                <li><a href="#">College</a></li>
                            </ul>
                        </div>
                        <div class="rs-view-btn">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-part">
                    <img src="assets/images/blog/style9/4.jpg" alt="">
                </div>
                <div class="blog-content">
                    <div class="blog-meta">
                        <span class="date"><i class="fa fa-calendar-check-o"></i> September 24, 2020</span>
                        <span class="admin"><i class="fa fa-user"></i> admin</span>
                    </div>
                    <h3 class="title"><a href="blog-single.html">High school program starting soon 2021 for covid-19 situation</a></h3>
                    <div class="btn-btm">
                        <div class="cat-list">
                            <ul class="post-categories">
                                <li><a href="#">College</a></li>
                            </ul>
                        </div>
                        <div class="rs-view-btn">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-part">
                    <img src="assets/images/blog/style9/5.jpg" alt="">
                </div>
                <div class="blog-content">
                    <div class="blog-meta">
                        <span class="date"><i class="fa fa-calendar-check-o"></i> September 24, 2020</span>
                        <span class="admin"><i class="fa fa-user"></i> admin</span>
                    </div>
                    <h3 class="title"><a href="blog-single.html">Majority of students dissatisfied for world coronavirus support</a></h3>
                    <div class="btn-btm">
                        <div class="cat-list">
                            <ul class="post-categories">
                                <li><a href="#">College</a></li>
                            </ul>
                        </div>
                        <div class="rs-view-btn">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-part">
                    <img src="assets/images/blog/style9/6.jpg" alt="">
                </div>
                <div class="blog-content">
                    <div class="blog-meta">
                        <span class="date"><i class="fa fa-calendar-check-o"></i> September 24, 2020</span>
                        <span class="admin"><i class="fa fa-user"></i> admin</span>
                    </div>
                    <h3 class="title"><a href="blog-single.html">Combating discrimination against most international students</a></h3>
                    <div class="btn-btm">
                        <div class="cat-list">
                            <ul class="post-categories">
                                <li><a href="#">College</a></li>
                            </ul>
                        </div>
                        <div class="rs-view-btn">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
