<div id="rs-popular-courses" class="rs-popular-courses main-home home12-style pt-90 pb-100 md-pt-0 md-pb-0">
    <div class="container">
        <div class="sec-title4 text-center mb-45">
            <div class="sub-title">Select Courses</div>
            <h2 class="title black-color">Explore Popular Courses</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-30">
               <div class="courses-item">
                    <div class="courses-grid">
                        <div class="img-part">
                            <a href="#"><img src="assets/images/courses/home12/1.jpg" alt=""></a>
                        </div>
                        <div class="content-part">
                            <div class="info-meta">
                                <ul>                                                
                                    <li class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        (536 rating)
                                    </li>
                                </ul>
                            </div>
                            <div class="course-price">
                                <span class="price">₹25,000</span>
                            </div>
                            <h3 class="title"><a href="Python.html">Python</a></h3>
                            <ul class="meta-part">
                                <li class="user">
                                    <i class="fa fa-user"></i>
                                     25 Students                                        
                                </li>
                                <li class="user">
                                    <i class="fa fa-file"></i>
                                    6 Lessons                                        
                                </li>
                            </ul>
                        </div>
                    </div>
               </div>
            </div> 
            <div class="col-lg-4 col-md-6 mb-30">
               <div class="courses-item">
                    <div class="courses-grid">
                        <div class="img-part">
                            <a href="#"><img src="assets/images/courses/home12/2.jpg" alt=""></a>
                        </div>
                        <div class="content-part">
                            <div class="info-meta">
                                <ul>                                                
                                    <li class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        (725 rating)
                                    </li>
                                </ul>
                            </div>
                            <div class="course-price">
                                <span class="price">₹40,000</span>
                            </div>
                            <h3 class="title"><a href="aws.html">AWS</a></h3>
                            <ul class="meta-part">
                                <li class="user">
                                    <i class="fa fa-user"></i>
                                     25 Students                                        
                                </li>
                                <li class="user">
                                    <i class="fa fa-file"></i>
                                    6 Lessons                                        
                                </li>
                            </ul>
                        </div>
                    </div>
               </div>
            </div> 
            <div class="col-lg-4 col-md-6 mb-30">
               <div class="courses-item">
                    <div class="courses-grid">
                        <div class="img-part">
                            <a href="#"><img src="assets/images/courses/home12/3.jpg" alt=""></a>
                        </div>
                        <div class="content-part">
                            <div class="info-meta">
                                <ul>                                                
                                    <li class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        (315 rating)
                                    </li>
                                </ul>
                            </div>
                            <div class="course-price">
                                <span class="price">₹2,00,000</span>
                            </div>
                            <h3 class="title"><a href="Sitecore.html">Sitecore</a></h3>
                            <ul class="meta-part">
                                <li class="user">
                                    <i class="fa fa-user"></i>
                                     25 Students                                        
                                </li>
                                <li class="user">
                                    <i class="fa fa-file"></i>
                                    6 Lessons                                        
                                </li>
                            </ul>
                        </div>
                    </div>
               </div>
            </div> 
            <div class="col-lg-4 col-md-6 md-mb-30">
               <div class="courses-item">
                    <div class="courses-grid">
                        <div class="img-part">
                            <a href="#"><img src="assets/images/courses/home12/4.jpg" alt=""></a>
                        </div>
                        <div class="content-part">
                            <div class="info-meta">
                                <ul>                                                
                                    <li class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        (679 rating)
                                    </li>
                                </ul>
                            </div>
                            <div class="course-price">
                                <span class="price">₹50,000</span>
                            </div>
                            <h3 class="title"><a href="oracle.html">Oracle</a></h3>
                            <ul class="meta-part">
                                <li class="user">
                                    <i class="fa fa-user"></i>
                                     25 Students                                        
                                </li>
                                <li class="user">
                                    <i class="fa fa-file"></i>
                                    6 Lessons                                        
                                </li>
                            </ul>
                        </div>
                    </div>
               </div>
            </div> 
            <div class="col-lg-4 col-md-6 sm-mb-30">
               <div class="courses-item">
                    <div class="courses-grid">
                        <div class="img-part">
                            <a href="#"><img src="assets/images/courses/home12/5.jpg" alt=""></a>
                        </div>
                        <div class="content-part">
                            <div class="info-meta">
                                <ul>                                                
                                    <li class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        (536 rating)
                                    </li>
                                </ul>
                            </div>
                            <div class="course-price">
                                <span class="price">₹2,00,000</span>
                            </div>
                            <h3 class="title"><a href="sap.html">SAP</a></h3>
                            <ul class="meta-part">
                                <li class="user">
                                    <i class="fa fa-user"></i>
                                     25 Students                                        
                                </li>
                                <li class="user">
                                    <i class="fa fa-file"></i>
                                    6 Lessons                                        
                                </li>
                            </ul>
                        </div>
                    </div>
               </div>
            </div> 
            <div class="col-lg-4 col-md-6">
               <div class="courses-item">
                    <div class="courses-grid">
                        <div class="img-part">
                            <a href="#"><img src="assets/images/courses/home12/6.jpg" alt=""></a>
                        </div>
                        <div class="content-part">
                            <div class="info-meta">
                                <ul>                                                
                                    <li class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        (920 rating)
                                    </li>
                                </ul>
                            </div>
                            <div class="course-price">
                                <span class="price">₹50,000</span>
                            </div>
                            <h3 class="title"><a href="Mvc.html">MVC .Net</a></h3>
                            <ul class="meta-part">
                                <li class="user">
                                    <i class="fa fa-user"></i>
                                     25 Students                                        
                                </li>
                                <li class="user">
                                    <i class="fa fa-file"></i>
                                    6 Lessons                                        
                                </li>
                            </ul>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>
