<div class="rs-faq-part style1 pt-100 pb-100 md-pt-70 md-pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 padding-0 col-md-12 md-mb-40">
                          <div class="main-part new-style">
                            <div class="title mb-20">
                                <h2 class="text-part">Frequently Asked Questions</h2>
                            </div>
                              <div class="faq-content">
                                  <div id="accordion" class="accordion">
                                     <div class="card">
                                         <div class="card-header">
                                             <a class="card-link" data-toggle="collapse" href="#collapseOne">Why Learn Here</a>
                                         </div>
                                         <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                             <div class="card-body">
                                            C2C Education provides students interested in IT certifications a guided learning experience to help them reach their goals and improve their lives
                                             </div>
                                         </div>
                                     </div>
                                      <div class="card">
                                          <div class="card-header">
                                             
                                              <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">Lower Learning Cost</a>
                                          </div>
                                          <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                                              <div class="card-body">
                                              C2C Offers plenty of valuable courses at farily good prices
                                              </div>
                                          </div>
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                             
                                              <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false">Different Course Variation</a>
                                          </div>
                                          <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
                                              <div class="card-body">
                                               We provide different type of courses that cover an extremely wide range of topics.
                                              </div>
                                          </div>
                                      </div>   
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="col-lg-6 padding-0 col-md-12">
                            <div class="rs-free-contact">
                                <div class="sec-title3">
                                    <h2 class="title white-color">Register Free Courses</h2>
                                </div>
                                    <form id="contact-form" method="post" action="mailto:enquiry@c2c.education" enctype="text/plain">
                                        <div class="row">
                                            <div class="col-lg-6 mb-30 col-md-12">
                                                <input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
                                            </div> 
                                            <div class="col-lg-6 mb-30 col-md-12">
                                                <input class="from-control" type="text" id="email" name="email" placeholder="Email" required="">
                                            </div>   
                                            <div class="col-lg-6 mb-30 col-md-12">
                                                <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone" required="">
                                            </div>   
                                            <div class="col-lg-6 mb-30 col-md-12">
                                                <input class="from-control" type="text" id="subject" name="subject" placeholder="Subject" required="">
                                            </div>
                                         
                                            <div class="col-lg-12 mb-35">
                                                <textarea class="from-control" id="message" name="message" placeholder=" Message" required=""></textarea>
                                            </div>
                                        </div>
                                        <div class="form-btn">
                                            <input class=" readon submit-requset" type="submit" value="Submit-Request">
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>