<footer id="rs-footer" class="rs-footer home9-style home12-style">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                            <div class="footer-logo mb-30">
                                <a href="index.html"><img src="assets/images/c2ceducation.png" alt=""></a>
                            </div>
                              <div class="textwidget pr-60 md-pr-15"><p>One Stop place for all your learning needs, live sessions or recorded sessions to Candidates i.e Course 2 Candidate - C2C.</p>
                              </div>
                            <!--  <ul class="footer_social">  
                                  <li> 
                                      <a href="#" target="_blank"><span><i class="fa fa-facebook"></i></span></a> 
                                  </li>
                                  <li> 
                                      <a href="# " target="_blank"><span><i class="fa fa-twitter"></i></span></a> 
                                  </li>

                                  <li> 
                                      <a href="# " target="_blank"><span><i class="fa fa-pinterest-p"></i></span></a> 
                                  </li>
                                  <li> 
                                      <a href="# " target="_blank"><span><i class="fa fa-google-plus-square"></i></span></a> 
                                  </li>
                                  <li> 
                                      <a href="# " target="_blank"><span><i class="fa fa-instagram"></i></span></a> 
                                  </li>
                                                                           
                              </ul>-->
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                            <h3 class="widget-title">Address</h3>
                            <ul class="address-widget">
                                <li>
                                    <i class="flaticon-location"></i>
                                    <div class="desc">35, Balaramapuram, Guduvanchery, Chennai, India</div>
                                </li>
                                <li>
                                    <i class="flaticon-call"></i>
                                    <div class="desc">
                                       <a href="tel:(+91)9445 9446 01">(+91) 9445 9446 01</a>
                                    </div>
                                </li>
                                <li>
                                    <i class="flaticon-email"></i>
                                    <div class="desc">
                                        <a href="mailto:support@c2c.education">support@c2c.education</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 pl-50 md-pl-15 footer-widget md-mb-50">
                            <h3 class="widget-title">Hot Courses</h3>
                            <ul class="site-map">
                                <li><a href="sap.html">SAP </a></li>
                                <li><a href="Sitecore.html">Sitecore</a></li>
                                <li><a href="Salesforce.html">Salesforce </a></li>
                                <li><a href="Azure.html">Azure </a></li>
                               
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                            <h3 class="widget-title">Corporate Course</h3>
                           <ul class="site-map">
                                <li><a href="Python.html">Python</a></li>
                                <li><a href="php">php</a></li>
                                <li><a href="Mvc.html">MVC .Net</a></li>
                                <li><a href="UiDevelopment.html">UI Develpement</a></li>
                             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">                    
                    <div class="row y-middle">
                        <div class="col-lg-6 md-mb-20">
                            <div class="copyright">
                                <p>&copy; 2020 All Rights Reserved. Developed By <a href="https://www.kgetechnologies.com/" target="_blank">KGE Technologies</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6 text-right md-text-left">
                            <ul class="copy-right-menu">
                                <li><a href="Terms.html" target="_blank">Terms & Condition</a></li>
                                <li><a href="Privacy.html"target="_blank">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>