 <div class="menu-area menu-sticky">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-2">
              <div class="logo-cat-wrap">
                  <div class="logo-part">
                      <a href="index.html">                                        
                          <img src="assets/images/c2ceducation.png" 
                            alt="c2c company brand logo">
                      </a>
                  </div>
              </div>
            </div>
            <div class="col-lg-8 text-right">
                <div class="rs-menu-area">
                    <div class="main-menu">
                      <div class="mobile-menu">
                          <a class="rs-menu-toggle">
                              <i class="fa fa-bars"></i>
                          </a>
                      </div>
                      <nav class="rs-menu">
                         <ul class="nav-menu">
                            <li class="rs-mega-menu mega-rs menu-item-has-children current-menu-item"> <a href="index.html">Home</a>
                                 <!-- //.mega-menu -->
                            </li>
                            
                            <li class="menu-item-has-children">
                                 <a href="#">Courses</a>
                                 <ul class="sub-menu">
                                    <li class="menu-item-has-children right">
                                  <a href="#">Web Development</a>
                                  <ul class="sub-menu right">
                                             <li><a href="php.html">Php</a></li>
                                             <li><a href="Python.html">Python</a></li>
                                             <li><a href="UiDevelopment.html">UI Development</a></li>
                                             <li><a href="Mvc.html"> MVC .Net</a></li>
                                             <li><a href="Photoshop.html">Photoshop</a></li>
                                         </ul>
                                     </li>
                                 <li class="menu-item-has-children">
                                 <a href="#">ERP</a>
                                 <ul class="sub-menu right">
                                             <li><a href="sap.html">SAP</a></li>
                                             <li><a href="Salesforce.html">Salesforce</a></li>
                                           
                                         </ul>
                                     </li>
                                     <li class="menu-item-has-children">
                                 <a href="#">Database</a>
                                 <ul class="sub-menu right">
                                             <li><a href="oracle.html">Oracle</a></li>
                                             <li><a href="MsSql.html">MS SQL</a></li>
                                             <li><a href="MySQL.html">MySQL</a></li>
                                     </ul>
                                     </li>
                                      <li class="menu-item-has-children">
                                 <a href="#">Cloud</a>
                                 <ul class="sub-menu right">
                                             <li><a href="aws.html">AWS</a></li>
                                             <li><a href="GoogleCloud.html">Google Cloud</a></li>
                                             <li><a href="Azure.html">Azure</a></li>
                                     </ul>
                                     </li>
                                      <li class="menu-item-has-children">
                                 <a href="#">CMS</a>
                                 <ul class="sub-menu right">
                                             <li><a href="Sitecore.html">Sitecore</a></li>
                                            
                                     </ul>
                                     </li>
                                                                                
                                                                                   
                                  
                                </ul>
                             </li>
                             <li class="menu-item-has-children">
                                 <a href="aboutus.html">About</a>
                                 
                             </li>
                             
                             <li class="menu-item">
                                 <a href="contactUs.html">Contact US</a>
                               
                             </li>
                             <li class="menu-item-has-children">
                                 <a href="faq.html">FAQ</a>
                                 
                             </li>
                             
                         </ul> <!-- //.nav-menu -->
                      </nav>                                         
                    </div> <!-- //.main-menu -->                                
                </div>
            </div>                           
        </div>
    </div>
</div>
