<div id="rs-services" class="rs-services home12-style">
    <div class="container">
        <div class="sec-title4 text-center mb-50">
            <div class="sub-title">Increase Your Skill</div>
            <h2 class="title purple-color">Explore Top Subjects</h2>
        </div> 
        <div class="row">
            <div class="col-lg-4 md-mb-30">
               <div class="services-item">
                   <div class="services-image">
                       <div class="services-icons">
                           <img src="assets/images/services/home12/1.png" alt="">
                       </div>
                       <div class="services-text">
                           <div class="services-title">
                               <h2 class="title">Web Development</h2>
                           </div>
                           <p class="text">
                               In the process of Web Development, Developers build web pages and applications for either 
                               the Intranet, a private network, or the Internet. Web Development does not necessarily focus on a website’s design rather, it is majorly concerned with the programming and coding part
                           </p>
                       </div>
                   </div>
               </div> 
            </div>  
            <div class="col-lg-4 md-mb-30">
               <div class="services-item">
                   <div class="services-image">
                       <div class="services-icons">
                           <img src="assets/images/services/home12/2.png" alt="">
                       </div>
                       <div class="services-text">
                           <div class="services-title">
                               <h2 class="title">Web Design</h2>
                           </div>
                           <p class="text">
                                Web design encompasses many different skills and disciplines in the production and maintenance of websites. 
                                The different areas of web design include web graphic design; user interface design (UI design) authoring, including standardised code
                           </p>
                       </div>
                   </div>
               </div> 
            </div>  
            <div class="col-lg-4">
               <div class="services-item">
                   <div class="services-image">
                       <div class="services-icons">
                           <img src="assets/images/services/home12/3.png" alt="">
                       </div>
                       <div class="services-text">
                           <div class="services-title">
                               <h2 class="title">SEO Optimization</h2>
                           </div>
                           <p class="text">
                             Search engine optimization (SEO) is the process of optimizing your online content so that a search engine likes to show it as a top result for searches of a certain keyword.
                            Algorithms that dictate search engine behavior, what people search for, the actual search terms or key
                           </p>
                       </div>
                   </div>
               </div> 
            </div>
        </div>
        <div class="col-lg-12 text-center pt-45">
            <a class="readon green-btn" href="#0">View All Subjects </a>
        </div>
    </div>
</div>
