<div class="topbar-area home11-topbar">
    <div class="container">
        <div class="row y-middle">
            <div class="col-md-5">
                <ul class="topbar-contact">
                    <li>
                        <i class="flaticon-email"></i>
                        <a href="mailto:support@c2c.education">support@c2c.education</a>
                    </li>
                    <li>
                        <i class="fa flaticon-call"></i>
                        <a href="tel:+(+91)9445 9446 01"> (+91) 9445 9446 01</a>
                    </li>
                </ul>
            </div>
          <!--  <div class="col-md-7 text-right">
                    <ul class="toolbar-sl-share">
                        <li class="opening"> <i class="flaticon-location"></i> 35, Balaramapuram, Guduvanchery, Chennai-603202 </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
            </div>-->
        </div>
    </div>
</div>
